nav {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: darkmagenta;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 2rem;
}

li a {
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
}

.login {
  background-color: darkmagenta;
  padding: 0.5rem;
  border-radius: 5px;
}

.login a {
  color: #fff;
}

span {
  display: none;
}

@media (max-width: 480px) {
  ul {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-left: 0.5rem;
    margin-block-end: 0;
  }

  li {
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 1px dashed #eee;
  }

  li:last-child {
    border-bottom: none;
  }

  span {
    display: block;
  }
}
